.iconWrapper {
  margin: auto 0;
  display: block;
  color: var(--text-800);
}

.icon.bluesky {
  color: #1185fe;
}

.icon.github {
  color: #171515;
}

.icon.github.dark {
  color: #f0f6fc;
}

.icon.linkedIn {
  color: #0a66c1;
}
