.rowCenteringContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.columnCenteringContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
