.content {
  display: flex;
  justify-content: center;
}

.innerContent {
  margin-top: 8vh;

  background: var(--background-50);
  box-shadow: 0.25rem 0.25rem 1rem var(--background-800);
  border-radius: 2.5rem 2.5rem;
  padding: 1rem;

  width: 420px;
  margin-bottom: 8rem;

  transition: height 1s;
}

.animateIn {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    scale: 1.1;
    translate: 0 -50vh;
    rotate: -5deg;
  }
  to {
    scale: 1;
    translate: 0 0;
    rotate: 0deg;
  }
}
