.content {
  display: flex;
  justify-content: center;
}

.innerContent {
  background: var(--primary-content-background);
  box-shadow: 0.25rem 0.25rem 1rem var(--primary-box-shadow);
  border-radius: 2.5rem 2.5rem;
  padding: 1rem;
  margin: 6vh 1rem 8vh 1rem;

  width: 420px;
}

.animateIn {
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-name: slide-in;
}

@keyframes slide-in {
  0% {
    translate: 0 -60vh;
  }
  90% {
    translate: 0 1vh;
  }
  100% {
    translate: 0 0;
  }
}
