.settingsContainer,
.stretchContainer {
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.stretchContainer {
  margin: 0 0 1.5rem 0;
  padding: 1rem 1rem 0rem 1rem;
}

.checkboxContainer {
  padding: 0 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  margin-top: 1.5rem;
  padding: 0 1rem;
}
