.prompt {
  border: 0.25rem solid var(--primary-400);
  background-color: var(--primary-400);
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: background-color 0.5s ease-in-out;
}

.prompt.timesUp {
  background-color: var(--secondary-400);
}

.prompt.imagePromptTimesUp {
  min-height: 28rem;
}

.prompt.paused {
  background-color: var(--primary-800);
}

.prompt.paused.timesUp {
  background-color: var(--secondary-800);
}

.prompt.imagePrompt {
  background-color: var(--image-prompt-backround);
  min-height: 28rem;
}

.prompt h1 {
  background-color: transparent;
  animation: 0.5s fade-in ease-in-out;
}

.prompt h1.timesUp {
  color: var(--text-100);
  animation: 0.5s scale-bump;
}

.prompt h1 {
  color: var(--text-200);
}

.prompt.paused.timesUp h1.timesUp {
  color: var(--text-100);
}

.prompt img {
  transition: filter 0.5s ease-in-out;
  height: 26rem;
}

.prompt img.paused {
  filter: blur(20px);
}

@keyframes scale-bump {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
